#
# !! This configuration file is managed by Ansible !!
# !! DO NOT change local file. Change Ansible role !!
#
server_url: "{{ graylog_server_url }}"
server_api_token: "{{ graylog_server_api_token }}"

node_id: "file:C:\\Program Files\\Graylog\\sidecar\\node-id"
node_name: ""

update_interval: {{ graylog_update_interval }}
tls_skip_verify: "{{ graylog_tls_skip_verify }}"
send_status: "{{ graylog_send_status }}"

cache_path: "C:\\Program Files\\Graylog\\sidecar\\cache"
log_path: "C:\\Program Files\\Graylog\\sidecar\\logs"
log_rotate_max_file_size: "{{ graylog_log_rotate_max_file_size }}"
log_rotate_keep_files: {{ graylog_log_rotate_keep_files }}
collector_validation_timeout: "{{ graylog_collector_validation_timeout }}"
collector_configuration_directory: "C:\\Program Files\\Graylog\\sidecar\\generated"
windows_drive_range: "CDEFGHIJKLMNOPQRSTUVWXYZ"

tags: [ default ]

collector_binaries_accesslist:
  - "C:\\Program Files\\Graylog\\sidecar\\winlogbeat.exe"