#
# !! This configuration file is managed by Ansible !!
# !! DO NOT change local file. Change Ansible role !!
#
server_url: "{{ graylog_server_url }}"
server_api_token: "{{ graylog_server_api_token }}"

node_id: "file:/etc/graylog/sidecar/node-id"

update_interval: {{ graylog_update_interval }}
tls_skip_verify: {{ graylog_tls_skip_verify }}
send_status: true

cache_path: "/var/cache/graylog-sidecar"
log_path: "/var/log/graylog-sidecar"
log_rotate_max_file_size: {{ graylog_log_rotate_max_file_size }}
log_rotate_keep_files: {{ graylog_log_rotate_keep_files }}
collector_validation_timeout: {{ graylog_collector_validation_timeout }}
collector_shutdown_timeout: "10s"
collector_configuration_directory: "/var/lib/graylog-sidecar/generated"

#list_log_files: []

tags:
  - default

collector_binaries_accesslist:
  - "/usr/lib/graylog-sidecar/filebeat"
  - "/usr/lib/graylog-sidecar/auditbeat"