#
# !! This configuration file is managed by Ansible !!
# !! DO NOT change local file. Change Ansible role !!
#
[/settings/default]
allowed hosts = {{ nscp_allowed_hosts }}
cache allowed hosts = {{ nscp_cache_allowed_hosts }}
timeout = {{ nscp_timeout }}

[/settings/NRPE/server]
allow arguments = {{ nscp_nrpe_allow_arguments }}
allow nasty characters = {{ nscp_nrpe_nasty_characters }}
allowed hosts = {{ nscp_nrpe_allowed_hosts }}
use ssl = {{ nscp_nrpe_use_ssl }}
insecure = {{ nscp_nrpe_insecure }}
port = {{ nscp_nrpe_port }}
performance data = {{ nscp_nrpe_performance_data }}

[/modules]
NRPEServer = {{ nscp_module_nrpe_server }}
SimpleCache = {{ nscp_module_nrpe_simple_cache }}
CommandClient = {{ nscp_module_nrpe_command_client }}
CheckDisk = {{ nscp_module_nrpe_check_disk }}
CheckEventLog = {{ nscp_module_nrpe_check_eventglog }}
CheckExternalScripts = {{ nscp_module_nrpe_check_externalscripts }}
CheckHelpers = {{ nscp_module_nrpe_check_helpers }}
CheckLogFile = {{ nscp_module_nrpe_check_logfile }}
CheckNSCP = {{ nscp_module_nrpe_check_nscp }}
CheckSystem = {{ nscp_module_nrpe_check_system }}
CheckTaskSched = {{ nscp_module_nrpe_check_tasksched }}
CheckWMI = {{ nscp_module_nrpe_check_wmi }}
CheckNet = {{ nscp_module_nrpe_check_net }}

#
# Standard Performance Counters
#
{% if nrpe_win_pdh_total_disk_reads == true %}
[/settings/system/windows/counters/TotalDiskReads]
collection strategy=rrd
useEnglishOnly = 1
counter=\PhysicalDisk(_Total)\Disk Reads/sec
{% endif %}
{% if nrpe_win_pdh_total_disk_writes == true %}
[/settings/system/windows/counters/TotalDiskWrites]
collection strategy=rrd
useEnglishOnly = 1
counter=\PhysicalDisk(_Total)\Disk Writes/sec
{% endif %}
{% if nrpe_win_pdh_thread_context_switches == true %}
[/settings/system/windows/counters/ThreadContextSwitches]
collection strategy=rrd
useEnglishOnly = 1
counter=\Thread(*)\Context Switches/sec
{% endif %}
{% if nrpe_win_pdh_memory_page_faults == true %}
[/settings/system/windows/counters/MemoryPageFaults]
collection strategy=rrd
useEnglishOnly = 1
counter=\Memory\Page Faults/sec
{% endif %}
